.block {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 56px 0 0 60px;
  background: none;
  font-family: "Montserrat", Arial, sans-serif;
}
.title {
  font-size: 38px;
  font-weight: 700;
  color: #2a3358;
  margin-bottom: 24px;
  letter-spacing: -1px;
}
.circleWrap {
  position: relative;
  height: 440px;
  margin-bottom: 30px;
}
.circle {
  stroke: #d2d7ea;
  stroke-width: 2;
  fill: none;
}
.point {
  fill: #283ae4;
  transition: opacity 0.2s;
}
.activePoint {
  fill: #fff;
  stroke: #283ae4;
  stroke-width: 4;
}
.labelNum {
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  fill: #283ae4;
  dominant-baseline: middle;
}
.labelText {
  //   font-size: 17px;
  //   font-family: inherit;
  //   fill: #7c849b;
  //   font-weight: 600;

  font-size: 18px;
  fill: #7c849b;
  font-weight: 700;
  white-space: pre;
}
.dates {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 38px;
  align-items: center;
  z-index: 2;
  white-space: nowrap;
  pointer-events: none;
}
.yearStart {
  font-size: 110px;
  font-weight: 700;
  color: #4a55ec;
  letter-spacing: -3px;
  font-variant-numeric: tabular-nums;
}
.yearEnd {
  font-size: 110px;
  font-weight: 700;
  color: #ee5d97;
  letter-spacing: -3px;
  font-variant-numeric: tabular-nums;
}
.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
  margin-bottom: 8px;

  button {
    background: none;
    border: 1.5px solid #d2d7ea;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: #31427a;
    cursor: pointer;
    transition: border-color 0.2s, color 0.2s;
    &:hover {
      border-color: #283ae4;
      color: #283ae4;
    }
  }
}
.events {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  margin-top: 20px;
  flex-wrap: wrap;
}
.event {
  flex: 1 1 160px;
  min-width: 140px;
  max-width: 220px;
  font-size: 16px;
  font-family: inherit;
}
.eventYear {
  color: #4a55ec;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 6px;
}
.eventTitle {
  color: #232a4b;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}
.eventDescr {
  color: #7c849b;
  font-size: 15px;
  font-weight: 400;
}

.svgCircle {
  display: flex;
  align-self: center;
  margin: 0 auto;
  overflow: visible;
}
